.Footer {
    background-color: #83D4D4;
    min-height: 26vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    
    

}

/* .FooterImg {
    position: absolute;
    left: 40px;
    

} */

.GooseFooter {
   position: absolute;
  
   

}