.MemPage {
    height: 140vh;
    background-color: #EDE768;
    color: hotpink
}

.MemTitle {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
   
    
}

.MemOctoCat {
    width: 230px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 30px;
    margin-right: 0px;
    
}

.MemOctoCat:hover {
    cursor: pointer;
}

.MemOctoCat:active {
    /* background-color: #EDE768; */
    transform: scale(1.1);
}

.MemAppEgg {
    width: 180px;
    height: 200px;
    margin-bottom: 75px;
    margin-left: 10px;
    margin-right: -50px;
  
}

.MemAppEgg:hover {
    cursor: pointer;
}

.MemAppEgg:active {
    /* background-color: #EDE768; */
    transform: scale(1.1);
}

.MemApp {
    width: 1050px;
    height: 550px;
    margin-left: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius:30px;
}

.MemContainer {
    display: flex;
    align-items: flex-start;
    
}
.MemText {
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: flex-end;
    position:relative;
    align-self: flex-start;
    font-size: 25px;
    color: #534D56;
    
}