.MemPage {
    height: 135vh;
    background-color: #EDE768;
    color: hotpink
}

.MemTitle {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
   
    
}

.MemOctoCat {
    width: 230px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 30px;
    margin-right: 0px;
    
}

.MemOctoCat:hover {
    cursor: pointer;
}

.MemOctoCat:active {
    /* background-color: #EDE768; */
    transform: scale(1.1);
}

.MemAppEgg {
    width: 180px;
    height: 200px;
    margin-bottom: 75px;
    margin-left: 10px;
    margin-right: -50px;
  
}

.MemAppEgg:hover {
    cursor: pointer;
}

.MemAppEgg:active {
    /* background-color: #EDE768; */
    transform: scale(1.1);
}

.MemApp {
    width: 1050px;
    height: 550px;
    margin-left: 70px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 40px;
    border-radius:30px;
}

.MemContainer {
    display: flex;
    align-items: flex-start;
    
    
    
}
.MemText {
    display:flex;
    flex:0.9;
    flex-direction: column;
    justify-content: flex-end;
    position:relative;
    align-self: flex-start;
    font-size: 20px;
    color: #534D56;
    
    
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
    .MemPage {
        height: 135vh;
        background-color: #EDE768;
        color: hotpink
    }
    
    .MemTitle {
        width: 80%;
        margin-top: 0px;
        margin-bottom: -10px;
       
        
    }
    
    .MemOctoCat {
        width: 145px;
        height: 125px;
        margin-bottom: 0px;
        
    }
    
    .MemOctoCat:hover {
        cursor: pointer;
    }
    
    .MemOctoCat:active {
        /* background-color: #EDE768; */
        transform: scale(1.1);
    }
    
    .MemAppEgg {
        width: 120px;
        height: 130px;
        margin-bottom: 0px;
        margin-left: -250px;
      
    }
    
    .MemAppEgg:hover {
        cursor: pointer;
    }
    
    .MemAppEgg:active {
        /* background-color: #EDE768; */
        transform: scale(1.1);
    }
    
    .MemApp {
        width: 60%;
        margin-left: 50px;
        margin-right: 20px;
        margin-bottom: 30px;
        margin-top: 40px;
        border-radius:30px;
    }
    
    .MemContainer {
        display: flex;
        align-items: flex-start;
        
    }
    .MemText {
        display:flex;
        flex:0.9;
        flex-direction: column;
        justify-content: flex-end;
        position:relative;
        align-self: flex-start;
        font-size: 1.05em;
        color: #534D56;
        
    }
}

@media only screen and (max-width: 390px) {
    .MemPage {
        background-color: #EDE768;
        color: hotpink
    }
    
    .MemTitle {
        width: 120%;
        height: auto;
        margin-bottom: -5px;
       
        
    }
    
    .MemOctoCat {
        width: 100px;
        height: 90px;
        margin: 0 auto;
        margin-bottom: 75px;
        
    }
    
    .MemOctoCat:hover {
        cursor: pointer;
    }
    
    .MemOctoCat:active {
        /* background-color: #EDE768; */
        transform: scale(1.1);
    }
    
    .MemAppEgg {
        width: 80px;
        height: 95px;
        margin: 0 auto;
        margin-bottom: 75px;
        margin-left: 25%;
      
    }
    
    .MemAppEgg:hover {
        cursor: pointer;
    }
    
    .MemAppEgg:active {
        /* background-color: #EDE768; */
        transform: scale(1.1);
    }
    
    .MemApp {
        width: 90%;
        height: auto;
        margin-left: 17px;
        margin-top: -30px;
        border-radius: 10px;
    }
    
    .MemContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .MemText {
        display:flex;
        flex:1;
        flex-direction: column;
        position:relative;
        align-self: flex-start;
        font-size: 1em;
        color: #534D56;
        padding: 0 10px;
        
    }
    
}

@media (min-width: 768px) and (max-width: 1280px) {
    .MemPage {
        height: 135vh;
        background-color: #EDE768;
        color: hotpink
    }
    
    .MemTitle {
        width: 80%;
        margin-top: 0px;
        margin-bottom: -10px;
       
        
    }
    
    .MemOctoCat {
        width: 145px;
        height: 125px;
        margin-bottom: 0px;
        margin-left: 4%;
        
    }
    
    .MemOctoCat:hover {
        cursor: pointer;
    }
    
    .MemOctoCat:active {
        /* background-color: #EDE768; */
        transform: scale(1.1);
    }
    
    .MemAppEgg {
        width: 120px;
        height: 130px;
        margin-bottom: 0px;
        margin-left: -10%;
      
    }
    
    .MemAppEgg:hover {
        cursor: pointer;
    }
    
    .MemAppEgg:active {
        /* background-color: #EDE768; */
        transform: scale(1.1);
    }
    
    .MemApp {
        width: 60%;
        margin-left: 50px;
        margin-right: 20px;
        margin-bottom: 30px;
        margin-top: 40px;
        border-radius:30px;
    }
    
    .MemContainer {
        display: flex;
        align-items: flex-start;
        
    }
    .MemText {
        display:flex;
        flex:0.9;
        flex-direction: column;
        justify-content: flex-end;
        position:relative;
        align-self: flex-start;
        font-size: 1.05em;
        color: #534D56;
        
    }
}