
.Contact {
    position: relative;
    background-color: #EDE768;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #83D4D4;
    
}

.ContactTitle {
    position: absolute;
    top: 0;
    right: 100px;
    height:200px;
    
}