.Skills {
    position: relative;
    background-color: #EDE768;
    min-height: 89vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #83D4D4;
    padding-bottom: 6rem;

 
    
}


.SkillsTitle {
  position: absolute;
  top: 0;
  height: auto;
  width: 30%;
  
    
    
}



#skills {
   
    padding-top: 4rem;
    position: relative;
  }
  
  .skills-container {
    position: absolute;
    top: 22rem;
    margin: 0 10%;
    padding-bottom: 10rem;
    bottom: 10;
    width: 80%;

  }
  
 
  .skills-row {
    position: relative;
  }
  
  .skills-content {
   
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 2rem;
    
    
  }
  
  .skills-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 22rem;
    gap: 2rem;
    padding: 0 1rem;
   
  
  }
  

  
  .skills-slider::-webkit-scrollbar {
    height: 2rem;
   
  }
  
  .skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    width: 120px;
    height: 130px;
    background: #FB6FC6;
    box-shadow: 0 1.25rem 2rem#FFAAEA;
    position: relative;
    transition: all 0.15s ease-in-out;
    color: #534D56;
    margin: 1rem; 
  }
  
  .skill-card:hover {
    transform: scale 0.85;
    box-shadow: 0 2rem 3rem #83D4D4;
  }
  
  .skill-card img {
    position: absolute;
    width: 70px;
    z-index: 1;
    transition: all 0.15s ease-in-out;
  }
  
  .skill-card:hover img {
    scale: 2;
    transform: translateY(-1.5rem);
  }
  
  .skill-card .skill-name {
    position: absolute;
    font-size: 20px;
    opacity: 0;
    z-index: 0;
    transition: all 0.15s ease-in;
  }
  
  .skill-card:hover .skill-name {
    display: block;
    transform: translateY(6rem);
    opacity: 1;
  }
  

  
 
  
  @media screen and (max-width: 1023px) {
  
  }
  
  @media screen and (max-width: 599px) {
  
    .skills-container {
      margin: 0 10%;
    
    }
  
  }

  @media only screen and (min-width: 320px) and  (max-width:480px) {
    .Skills {
      max-height: 100%;
      padding-bottom: 50%;
         
  }
  
  .SkillsTitle {
    width: 70vw;
    height: auto;
    /* padding-left: 20px;
    margin-top: -30px; */
    
      
  }
  
    .skills-container {
      width: 100%;
      height: 100%;
     
      padding-bottom: 20rem;
      left: -2%;
  
    }
 
    .skill-card {
      width: 60px;
      height: 60px;
    }
    
    
    .skill-card img {
      width: 40px;
    }
    
    .skill-card:hover img {
      scale: 2;
      transform: translateY(-1.2rem);
    }
    
    .skill-card .skill-name {
      position: absolute;
      font-size: 0.75em;
      opacity: 0;
      z-index: 0;
      transition: all 0.15s ease-in;
    }
    
    .skill-card:hover .skill-name {
      display: block;
      transform: translateY(3.5rem);
      opacity: 1;
    }
    
  
    
   
    
    @media screen and (max-width: 1023px) {
    
    }
    
    @media screen and (max-width: 599px) {
    
      .skills-container {
        margin: -40% 2%;
      
      }
    
    }
  }

  @media only screen and (min-width:1280px) and (max-width: 1600px) {
    .Skills {
      max-height: 100%;
      padding-bottom: 250px;
      
  }
  
  .SkillsTitle {
      position: absolute;
      top: 0;
      height:200px;
      
  }
  
  
  
  #skills {
     
      padding-top: 4rem;
  
    }
    
    .skills-container {
      width: 60%;
      height: 100%;
      margin: 0 20%;
      padding-bottom: 20rem;
      /* bottom: 10; */
  
    }
      
    .skills-slider {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 22rem;
      gap: 4rem;
      padding: 0 1rem;
     
    
    }
    
  
    
    .skills-slider::-webkit-scrollbar {
      height: 2rem;
     
    }
    
    .skill-card {
      width: 120px;
      height: 130px;
      background: #FB6FC6;
      box-shadow: 0 1.25rem 2rem#FFAAEA;
      position: relative;
      transition: all 0.15s ease-in-out;
      color: #534D56; 
    }
    
    .skill-card:hover {
      scale: 0.85;
      box-shadow: 0 2rem 3rem #83D4D4;
    }
    
    .skill-card img {
      width: 70px;
      z-index: 1;
      transition: all 0.15s ease-in-out;
    }
    
    .skill-card:hover img {
      scale: 2;
      transform: translateY(-1.5rem);
    }
    
    .skill-card .skill-name {
      position: absolute;
      font-size: 20px;
      opacity: 0;
      z-index: 0;
      transition: all 0.15s ease-in;
    }
    
    .skill-card:hover .skill-name {
      display: block;
      transform: translateY(6rem);
      opacity: 1;
    }
    
  
    
   
    
    @media screen and (max-width: 1023px) {
    
    }
    
    @media screen and (max-width: 599px) {
    
      .skills-container {
        margin: 0 10%;
      
      }
    
    }
  }

  @media (min-width: 768px) and (max-width: 1280px) {
    .Skills {
      position: relative;
      background-color: #EDE768;
      max-height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #83D4D4;
      padding-bottom: 250px;
      
  }
  
  .SkillsTitle {
      position: absolute;
      top: 0;
      height:200px;
      
  }
  
  
  
  #skills {
     
      padding-top: 4rem;
      position: relative;
    }
    
    .skills-container {
      position: absolute;
      width: 60%;
      height: 100%;
      /* top: 350px; */
      margin: 0 20%;
      padding-bottom: 20rem;
      bottom: 10;
  
    }
    
   
    .skills-row {
      position: relative;
    }
    
    .skills-content {
     
       display: flex;
      
      
    }
    
    .skills-slider {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 22rem;
      gap: 4rem;
      padding: 0 1rem;
     
    
    }
    
  
    
    .skills-slider::-webkit-scrollbar {
      height: 2rem;
     
    }
    
    .skill-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 3rem;
      width: 120px;
      height: 110px;
      background: #FB6FC6;
      box-shadow: 0 1.25rem 2rem#FFAAEA;
      position: relative;
      transition: all 0.15s ease-in-out;
      color: #534D56; 
    }
    
    .skill-card:hover {
      scale: 0.85;
      box-shadow: 0 2rem 3rem #83D4D4;
    }
    
    .skill-card img {
      position: absolute;
      width: 70px;
      z-index: 1;
      transition: all 0.15s ease-in-out;
    }
    
    .skill-card:hover img {
      scale: 2;
      transform: translateY(-1.5rem);
    }
    
    .skill-card .skill-name {
      position: absolute;
      font-size: 20px;
      opacity: 0;
      z-index: 0;
      transition: all 0.15s ease-in;
    }
    
    .skill-card:hover .skill-name {
      display: block;
      transform: translateY(6rem);
      opacity: 1;
    }
    
  
    
   
    
    @media screen and (max-width: 1023px) {
    
    }
    
    @media screen and (max-width: 599px) {
    
      .skills-container {
        margin: 0 10%;
      
      }
    
    }
  }