.Header {
    position: relative;
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.HeaderTitle {
    width: 150%;
    height: auto;
    margin-top: -3vh;
    margin-left: -40%;
    
   
}

.ProfileImg {
    width: 60%;
    height: auto;
    margin-top: -77vh;
    margin-right: -120%;
    
}

.Goose {
    position: absolute;
    bottom: 0%;
    left: -30%;
    width: 90%;
    height: auto;
    
}

@media only screen and (max-width: 390px) {
    .Header {
        width: 100%;
        height: auto;
        left: 9%;
        /* margin-bottom: -10%; */
        /* padding-top: 10px; */
        /* padding-bottom: 10px; */
       
    }

    .HeaderTitle {
        width: 103%;
        margin-top: 0%;
        

    }
    
    .ProfileImg {
        width: 80%;
        margin-top: -14%;
        margin-left: -123%;
    }
    
    .Goose {
       margin-bottom: 0%;
       margin-left: 6%;

        
    }
}

@media only screen and (min-width: 1280px) and (max-width:1600px) {
    .Header {
        
        width: 70%; 
    }
    
    .HeaderTitle {
        width: 150%;
        margin-top: -3.5%;
        
       
    }
    
    .ProfileImg {
        max-width: 55%;
        margin-top: -70%;
        margin-left: 15%;
        
    }
    
    .Goose {
       width: 130%;  
       bottom: 0%;
       left: 25%;
       transform: translateX(-50%);
        
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .Header {
        
        width: 100%; 
    }
    
    .HeaderTitle {
        width: 80%;
        margin-top: 4.7%;
        
        
       
    }
    
    .ProfileImg {
        display: flex;
        width: 50%;
        max-width: 400px;
        border-radius: 0%;
        /* transform: translate(119%, -44.7%); */
        margin-top: 0%;
        margin-right: -1%;
        
    }
    
    .Goose {
        position: absolute;
        /* transform: translate(-20%, 165%) */
        bottom: 53%;
        left: 20%;
        /* transform: translate(-50%, -50%); */
        
    }
}

@media (max-height: 1200px) and (max-width: 1920px) {
    .Header {
        
        width: 70%; 
    }
    
    .HeaderTitle {
        width: 150%;
        margin-top: -0.5%;
        
       
    }
    
    .ProfileImg {
        max-width: 70%;
        margin-top: -68.4%;
        margin-left: 15%;
    }
    
    .Goose {
       width: 130%;  
       bottom: 0%;
       left: 25%;
       transform: translateX(-50%);
        
    }
}





