.Header {
    position: relative;
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.HeaderTitle {
    width: 150%;
    height: 150%;
    transform: translate(-15%, 45%);
   
}

.ProfileImg {
    display: flex;
    width: 550px;
    height: 1000px;
    border-radius: 0%;
    transform: translate(110%, -40.3%);
    
}

.Goose {
    position: absolute;
    transform: translate(-30%, 228%)
    
}

@media only screen and (max-width: 390px) {
    .Header {
        width: 200px;
        height: 675px;
       
    }

    .HeaderTitle {
        width: 200%;
        height: 60%;
        transform: translate(-1%, 15%);
    }
    
    .ProfileImg {
        display: flex;
        width: 160%;
        height: 400%;
        border-radius: 0%;
        margin-top: 3%;
        transform: translate(19%, -7%);
    }
    
    .Goose {
        position: absolute;
        transform: translate(-40%, 430%);
        width: 400px;
        height: 70px;

        
    }
}

@media only screen and (min-width: 1280px) and (max-width:1600px) {
    .Header {
        
        width: 100%; 
    }
    
    .HeaderTitle {
        width: 80%;
        
        transform: translate(-12%, 39%);
       
    }
    
    .ProfileImg {
        display: flex;
        width: 50%;
        max-width: 400px;
        border-radius: 0%;
        /* transform: translate(119%, -44.7%); */
        margin-top: -3.7%;
        margin-right: -10%;
        
    }
    
    .Goose {
        position: absolute;
        /* transform: translate(-20%, 165%) */
        bottom: 53%;
        left: 20%;
        /* transform: translate(-50%, -50%); */
        
    }
}

@media (min-width: 768px) and (max-width: 1300px) {
    .Header {
        
        width: 100%; 
    }
    
    .HeaderTitle {
        width: 80%;
        margin-top: 4.7%;
        
        
       
    }
    
    .ProfileImg {
        display: flex;
        width: 50%;
        max-width: 400px;
        border-radius: 0%;
        /* transform: translate(119%, -44.7%); */
        margin-top: 0%;
        margin-right: -1%;
        
    }
    
    .Goose {
        position: absolute;
        /* transform: translate(-20%, 165%) */
        bottom: 53%;
        left: 20%;
        /* transform: translate(-50%, -50%); */
        
    }
}

@media (min-width: 768px) and (max-width: 1600px) {
    .Header {
        
        width: 100%; 
    }
    
    .HeaderTitle {
        width: 80%;
        margin-top: 0%;
        
        
       
    }
    
    .ProfileImg {
        display: flex;
        width: 50%;
        border-radius: 0%;
        /* transform: translate(119%, -44.7%); */
        margin-top: 2.5%;
        margin-right: -1%;
        
    }
    
    .Goose {
        position: absolute;
        /* transform: translate(-20%, 165%) */
        bottom: 47%;
        left: 20%;
        /* transform: translate(-50%, -50%); */
        
    }
}





