.Projects {
    position: relative;
    background-color:#FFAAEA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.ProjectsTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    
}

.ProjectsHeader {
    position:absolute;
    top: 0;
        
}

.ProjectsText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #534D56;
    line-height: 1.5;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #FB6FC6;
}

.EggCarton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15%;
}

.ProjEgg {
    height: 400px;
    width: 350px;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .ProjEgg:hover {
   cursor: pointer;
  }

  .ProjEgg:active {
    /* background-color: #EDE768;
    box-shadow: 0 5px #fb6fc6; */
    transform: translateY(4px);
    border-radius: 20%;
  }

  @media only screen and (max-width: 390px) {
    .Projects {
        position: relative;
        background-color:#FFAAEA;
        min-height: 120%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        
    }
    
    .ProjectsTitle {
       width: 350px;
       height: 100px;
       padding-left: 20px;
       padding-top: 10px;
    }
    
    .ProjectsHeader {
        position:absolute;
        top: 0;
            
    }
    
    .ProjectsText {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 0;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        color: #534D56;
        line-height: 1.5;
        letter-spacing: 1px;
        text-shadow: 1px 1px 1px #FB6FC6;
        
    }
    
    .EggCarton {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40%;
    }
    
    .ProjEgg {
        height: 175px;
        width: 150px;
        margin-right: 70px;
        margin-left: 70px;
        margin-top: 50px;
        margin-bottom: -30px;
        
      }
    
      .ProjEgg:hover {
       cursor: pointer;
      }
    
      .ProjEgg:active {
        /* background-color: #EDE768;
        box-shadow: 0 5px #fb6fc6; */
        transform: translateY(4px);
        border-radius: 20%;
      }
  }