.Projects {
    position: relative;
    background-color:#FFAAEA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    
}

.ProjectsTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    text-align: center;
    
}

.ProjectsHeader {
    position:absolute;
    top: 0;
        
}

.ProjectsText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    font-size: 1.30rem;
    font-weight: bold;
    text-align: center;
    color: #534D56;
    line-height: 1.5;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #FB6FC6;
}

.EggCarton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15%;
}

.ProjEgg {
    height: auto;
    width: 100%;
    max-width: 350px;
    margin: 4rem;
  }

  .ProjEgg:hover {
   cursor: pointer;
  }

  .ProjEgg:active {
    transform: translateY(4px);
    border-radius: 20%;
  }

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .Projects {
        min-height: auto;
        padding-bottom: 20px;
        
    }
    
    .ProjectsTitle {
       width: 90%;
       height: auto;
       left: 5%;
    }
    
    .ProjectsHeader {
        position:relative;
            
    }
    
    .ProjectsText {
        font-size: 1em;
        margin-bottom: -30%;
        
    }
    
    .EggCarton {
        margin-top: 40%;
    }
    
    .ProjEgg {
        height: 175px;
        width: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
        
      }
    
  }

  @media (min-width: 768px) and (max-width: 1300px) {
 
    .ProjectsTitle {
        font-size: 1.2em;
        
    }
    
  
    .EggCarton {
      margin-top: 20%;
    }
    
    .ProjEgg {
        height: 400px;
        width: 350px;
        margin-right: 70px;
        margin-left: 70px;
        margin-top: 50px;
        margin-bottom: 50px;
      }
    
      .ProjEgg:hover {
       cursor: pointer;
      }
    
      .ProjEgg:active {
        /* background-color: #EDE768;
        box-shadow: 0 5px #fb6fc6; */
        transform: translateY(4px);
        border-radius: 20%;
      }
  }